<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/inicio.css">
    <title>Document</title>
</head>
<header>

    <div class="aqua">
        <p>
            AQUA
        </p>
        <img src="../src/storage/img/aqua.png" alt="aqua">
    </div>

    <nav>
        <a href="../views/inicio.html">
            <p>
                INICIO
            </p>
        </a>
        <a href="../views/comojugar.html">
            <p>
                CÓMO JUGAR
            </p>
        </a>
        <a href="">
            <p>
                APÓYANOS
            </p>

        </a>
        <a href="">

            <p>
                SOBRE NOSOTROS
            </p>
        </a>
    </nav>

    <div>

        <img src="../src/storage/img/bi_moon-fill.png" alt="" class="luna">
        <img src="../src/storage/img/akar-icons_sun-fill.png" alt="" class="luna">

    </div>
</header>




<body>
    <div class="contenido">

        <div class="contenido_izq">

            <div class="contenedor_titulo">

                <img src="../src/storage/img/C.png" alt="C" class="C">
                <img src="../src/storage/img/R.png" alt="R" class="R">
                <img src="../src/storage/img/A.png" alt="A" class="A">
                <img src="../src/storage/img/E.png" alt="E" class="E">

            </div>

            <div class="contenedor_subtitulo">
                <p>
                    Somos creatividad, somos Crae
                </p>
            </div>

            <div class="contenedor_parrafo">
                <p>
                    Crae es un juego de cartas inclusivo donde personas videntes, no videntes y con discapacidad visual
                    pueden participar y disfrutar en conjunto.
                </p>
            </div>

        </div>


        <div class="contenido_der">
            <img src="../src/storage/img/perro2.png" alt="">



            <div class="comprar">
                <img src="../src/storage/img/material-symbols_shopping-cart.png" alt="">
                <p>
                    Comprar
                </p>
            </div>



            <div class="logos">
                <img src="../src/storage/img/ant-design_instagram-filled (1).png" alt="">
                <img src="../src/storage/img/brandico_facebook-rect (1).png" alt="">
                <img src="../src/storage/img/Font_Awesome_5_brands_kickstarter 2.png" alt="">
            </div>

        </div>


    </div>



    </div>
</body>

</html>