<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/inicio.css">
    <title>Document</title>
</head>
<header>

    <div class="aqua">
        <p>
            AQUA
        </p>
        <img src="../src/storage/img/aqua.png" alt="aqua">
    </div>

    <nav>
        <a href="../views/inicio.html">
            <p>
                INICIO
            </p>
        </a>
        <a href="#comojugar">
            <p>
                CÓMO JUGAR
            </p>
        </a>
        <a href="#apoyanos">
            <p>
                APÓYANOS
            </p>

        </a>
        <a href="">

            <p>
                SOBRE NOSOTROS
            </p>
        </a>
    </nav>

    <div>

        <img src="../src/storage/img/bi_moon-fill.png" alt="" class="luna">
        <img src="../src/storage/img/akar-icons_sun-fill.png" alt="" class="luna">

    </div>
</header>




<body>
    <div class="contenido">

        <div class="contenido_izq">

            <div class="contenedor_titulo">

                <img src="../src/storage/img/C.png" alt="C" class="C">
                <img src="../src/storage/img/R.png" alt="R" class="R">
                <img src="../src/storage/img/A.png" alt="A" class="A">
                <img src="../src/storage/img/E.png" alt="E" class="E">

            </div>

            <div class="contenedor_subtitulo">
                <p>
                    Somos creatividad, somos Crae
                </p>
            </div>

            <div class="contenedor_parrafo">
                <p>
                    Crae es un juego de cartas inclusivo donde personas videntes, no videntes y con discapacidad visual
                    pueden participar y disfrutar en conjunto.
                </p>
            </div>

        </div>


        <div class="contenido_der">
            <img src="../src/storage/img/perro2.png" alt="">



            <div class="comprar">
                <img src="../src/storage/img/material-symbols_shopping-cart.png" alt="">
                <p>
                    Comprar
                </p>
            </div>



            <div class="logos">
                <img src="../src/storage/img/ant-design_instagram-filled (1).png" alt="">
                <img src="../src/storage/img/brandico_facebook-rect (1).png" alt="">
                <img src="../src/storage/img/Font_Awesome_5_brands_kickstarter 2.png" alt="">
            </div>

        </div>


    </div>



    </div>



    <div class="contenido_2" id="comojugar">
        <p class="titulo">
            ¿Cómo jugar?
        </p>

        <p class="parrafo_sub">
            Crae posee una modalidad de juego definidas pero siempre apoyamos la creatividad y que crees tus propias
            reglas
            y modalidades.
        </p>



        <div class="secciones">
            <div class="circulo">
                <p class="numero">
                    1
                </p>
            </div>
            <p class="texto">
                Uno de los jugadores hace de “creativo” en cada uno de los turnos. Observa sus 6 cartas de la mano y, de
                una
                de ellas, debe construir una frase, palabra o sonido y decirla en voz alta (sin mostrar la carta a los
                otros
                jugadores). La frase puede ser inventada o puede estar inspirada en la poesía, literatura, cine, etc.

            </p>
            <img src="../src/storage/img/mdi_cards.png" alt="">
        </div>



        <div class="secciones">
            <div class="circulo">
                <p class="numero">
                    2
                </p>
            </div>
            <p class="texto">
                Comenzamos el juego de izquierda a derecha. Selecciona una carta que inspire tu frase y dila en voz
                alta. El resto de jugadores seleccionará de entre sus cartas la que mejor se adapte a la frase
                construida por el creativo.
            </p>
            <img src="../src/storage/img/bx_bxs-select-multiple.png" alt="">
        </div>


        <div class="secciones">
            <div class="circulo">
                <p class="numero">
                    3
                </p>
            </div>
            <p class="texto">
                El objetivo de los jugadores es adivinar cuál de las cartas es la que el creativo usó para construir su
                frase. Cada jugador vota de forma secreta la carta que cree que pertenece al creativo. Para ello, coloca
                boca abajo frente a él un objeto que hayas escogido previamente.
            </p>
            <img src="../src/storage/img/ic_round-how-to-vote.png" alt="">
        </div>


        <div class="secciones">
            <div class="circulo">
                <p class="numero">
                    4
                </p>
            </div>
            <p class="texto">
                - Si todos los jugadores aciertan la carta del creativo, todos los jugadores excepto el creativo ganan 2
                puntos.
                - En cualquier otro caso, tanto el creativo como los jugadores que hayan acertado, obtienen 3 puntos.
                - Todos los jugadores ganan un punto por cada voto que reciba su carta.
            </p>
            <img src="../src/storage/img/ic_round-checklist-rtl.png" alt="">
        </div>


        <div class="secciones">
            <div class="circulo">
                <p class="numero">
                    5
                </p>
            </div>
            <p class="texto">
                Cada jugador roba cartas hasta tener 6 en su mano. El juego termina cuando se roba la última carta. El
                jugador que más lejos haya llegado en la escala de puntuación es el ganador.
            </p>
            <img src="../src/storage/img/mdi_summit.png" alt="">
        </div>



        <div class="apoyanos_seccion">

            <div class="apoyanos_seccion_izq">
                <p class="apoyanos_seccion_titulo">
                    Apóyanos
                </p>

                <p class="apoyanos_seccion_parrafo">
                    Por favor, si quieres ayudarnos económicamente, no dudes en donar en Kickstarter.
                    Así financiarías nuestro proyecto y contribuirías a cumplir este gran sueño.
                </p>
            </div>


            <div class="apoyanos_seccion_der">
                <img src="../src/storage/img/OS971A1 1.png" alt="" class="apoyanos_seccion_img">

                <div class="apoyanos_seccion_boton">
                    <p>
                        Haz tu aporte
                    </p>
                </div>
            </div>


        </div>

</body>

</html>