<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/inicio.css">
    <title>Document</title>
</head>

<header>

    <div class="aqua">
        <p>
            AQUA
        </p>
        <img src="../src/storage/img/aqua.png" alt="aqua">
    </div>

    <nav>
        <p>
            INICIO
        </p>
        <p>
            CÓMO JUGAR
        </p>
        <p>
            APÓYANOS
        </p>
        <p>
            SOBRE NOSOTROS
        </p>
    </nav>

    <img src="../src/storage/img/luna.png" alt="" class="luna">
</header>

<body>

</body>

</html>