@import url(variables.css);


header {
    margin-top: 31px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    background-color: blue;

}

header .aqua {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0px 48px 48px 0px;

    margin-right: 99px;

    font-family: RobotoCondensed-Regular;
    font-size: 48px;
}

header .aqua img {
    object-fit: contain;
    max-width: 32.26px;
    margin-left: 12.67;
}


header nav {
    background-color: green;
    width: 100%;
    display: flex;
    gap: 73px;

    align-items: center;
    justify-content: space-between;

    font-family: RobotoCondensed-Bold;
    font-size: 24px;

    margin-right: 100px;
}


header .luna {
    max-width: 100%;
    background-color: red;
    margin: 30px 0px 30px 130px;
}