@import url(variables.css);

html {
    background-color: black;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    color: white;


}

header .aqua {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0px 48px 48px 0px;

    margin-right: 99px;

    font-family: RobotoCondensed-Regular;
    font-size: 48px;
    background-color: white;

}


header .aqua p {
    color: black;
}

header .aqua img {
    object-fit: contain;
    max-width: 32.26px;
    margin-left: 12.67;
}


header nav {
    width: 100%;
    display: flex;
    gap: 73px;

    align-items: center;
    justify-content: space-between;

    font-family: RobotoCondensed-Bold;
    font-size: 24px;

    margin-right: 100px;

}

header nav a {
    text-decoration: none;
    color: white;
}


header .luna {
    max-width: 100%;
    margin: 30px 0px 30px 130px;
}

.contenido {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.contenedor_titulo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    align-items: baseline;

    margin-top: 53px;
    margin-left: 65px;
}

.contenedor_subtitulo {
    margin-left: 65px;

    font-family: RobotoCondensed-Regular;
    font-size: 56.4px;
    width: 100%;

    margin-top: 21px;
    margin-bottom: 5px;
}



.contenedor_parrafo {
    margin-left: 65px;

    font-family: RobotoCondensed-Regular;
    font-size: 26px;
    line-height: auto;
    width: 100%;
}

.contenido_der {
    background-color: green;
}

.contenido_der img {
    width: 70%;

}

.comprar {
    background-color: white;
    margin-left: 191px;
    margin-right: 404px;
    border-radius: 31.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: RobotoCondensed-Bold;
    font-size: 40px;
}

.comprar img {
    object-fit: contain;
    max-width: 30px;
    max-height: 30px;
}