@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;

}

.contenido_izq {
    display: grid;
    row-gap: 0px;
}


.contenedor_titulo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    align-items: baseline;

    margin-top: 120px;
    margin-left: 65px;


}









.contenedor_subtitulo {
    margin-left: 65px;

    font-family: ReadexPro-Medium;
    font-size: 27px;
    width: 100%;

    margin-top: 21px;
    margin-bottom: 5px;
}



.contenedor_parrafo {
    margin-left: 65px;

    font-family: ReadexPro-Light;
    font-size: 16px;
    line-height: 151.5%;
    width: 100%;
}



.parrafo_final {
    margin-left: 65px;

    margin-top: 47px;
    font-family: ReadexPro-Light;
    font-size: 13px;
    width: 100%;
}








.contenido_derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.contenido_derecha img {
    width: 100%;
    position: absolute;
}