@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: red;
    grid-template-columns: 1fr 1fr;
}

.contenido_izq {
    background-color: green;
    display: grid;
}


.contenedor_titulo {
    background-color: rgb(86, 202, 86);
    width: 321px;
    height: 165px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    align-items: baseline;

    margin-top: 120px;
    margin-left: 65px;


}

.contenedor_titulo .C {
    background-color: red;
    margin-right: 10.03px;

    max-width: 96.53px;
}

.contenedor_titulo .R {
    background-color: red;
    margin-right: 10.79px;

    max-width: 75.81px;
}

.contenedor_titulo .A {
    max-width: 65px;
}

.contenedor_titulo .E {
    max-width: 65.03px;
}








.contenedor_subtitulo {
    background-color: blue;
    margin-left: 65px;

    font-family: ReadexPro-Medium;
    font-size: 27px;
    width: 340px;
    height: 72px;

    margin-top: 21px;
    margin-bottom: 5px;
}



.contenedor_parrafo {
    background-color: bisque;
    margin-left: 65px;

    font-family: ReadexPro-Light;
    font-size: 16px;
    line-height: 151.5%;
    width: 340px;
    height: 133px;
}



.parrafo_final {
    background-color: azure;
    margin-left: 65px;

    margin-top: 47px;
    font-family: ReadexPro-Light;
    font-size: 13px;

}








.contenido_derecha {
    background-color: aquamarine;
}