:root {
    --color-1: #000000;
}

@font-face {
    font-family: "example";
    src: url(../storage/fonts/example.ttf);
}

@font-face {
    font-family: "ReadexPro-Medium";
    src: url(../storage/fonts/Readex_Pro/static/ReadexPro-Medium.ttf

}