:root {
    --color-1: #000000;
}

@font-face {
    font-family: "example";
    src: url(../storage/fonts/example.ttf);
}

@font-face {
    font-family: "ReadexPro-Medium";
    src: url(../storage/fonts/Readex_Pro/static/ReadexPro-Medium.ttf)
}

@font-face {
    font-family: "ReadexPro-Light";
    src: url(../storage/fonts/Readex_Pro/static/ReadexPro-Light.ttf)
}


@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(../storage/fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf)
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url(../storage/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf)
}